<!DOCTYPE html>
<html>
<head>
  <title>Submit Form</title>
</head>
<body>
  {% if error %}
    <p style="color: red">{{ error }}</p>
  {% endif %}
  <form method="POST" action="/">
    Name: <input type="text" name="name" value="{{ name }}"><br>
    Email: <input type="email" name="email" value="{{ email }}"><br>
    <button type="submit">Submit</button>
  </form>
  <form method="POST" action="/submittodoitem">
  <label>Item Name: <input name="itemName"/></label><br>
  <label>Item Description: <input name="itemDescription"/></label><br>
  <button>Submit</button>
</form>cd
</body>
</html>
